:root {
	--Table-Title: #04aa6d;
	--Table-Primary: #f2f2f2;
	--Table-Secondary: #ffffff;
	--Table-Friday: #c5e0b3;
	--Shifts-Primary: #b4c6e7;
	--Shifts-Secondary: #d9e2f3;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
}

.schedule {
	width: 70dvw;
	height: 100dvh;
	background-color: white;
	display: flex;
	align-items: baseline;
	overflow: auto;
}

.sidebar {
	width: 30dvw;
	height: 100dvh;
	background-color: darkgray;
}

.sidebar-interior {
	padding: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}

.table-save {
	width: fit-content;
	padding-bottom: 24px;
	padding-inline: 2rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
}

h1 {
	text-align: center;
	font-size: 42px;
}

h2 {
	text-align: center;
	font-size: 26px;
	margin-bottom: 0.5rem;
}

.the-table {
	width: 650px;
	text-align: center;
	border-collapse: collapse;
	border: 2px solid black;

	& td,
	& th {
		border: 1px solid black;
		padding: 8px;
	}

	& tr:nth-child(even) {
		background-color: var(--Table-Primary);
	}

	& tr:nth-child(odd) {
		background-color: var(--Table-Secondary);
	}

	& th {
		background-color: var(--Table-Title);
		color: white;
	}

	& td {
		padding-block: 4px;
	}

	& .day {
		width: 32px;
	}

	& .date {
		width: 48px;
	}

	& .people {
		width: 200px;
		min-width: 4.5rem;
	}

	& .friday {
		background-color: var(--Table-Friday) !important;
	}
}

.year-month-selector {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.shifts {
	display: flex;
	flex-wrap: wrap;

	& .shift-person {
		text-wrap: nowrap;
		font-size: 20px;
		flex: 1 1 0%;
		text-align: center;
		min-width: 16.5ch;
		padding-block: 0.25ch;
	}

	& .shift-person:nth-child(even) {
		background-color: var(--Shifts-Primary);
	}
	& .shift-person:nth-child(odd) {
		background-color: var(--Shifts-Secondary);
	}
}